{% extends "base.html" %}
{% from "macros.html" import header_button %}

{% block title %}Admin Panel - View{% endblock %}

{% block header_right %}{{ header_button(url_for('admin.admin_panel', squad=squad), 'Back')}}{% endblock %}

{% block header_title %}{{squad}}{% endblock %}
{% block sub_title %}View Options{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

<div class="admin-container">
    <div class="admin-grid">
        <div class="admin-card">
            <h2>View Items</h2>
            <p>Sort / filter inventory items.</p>
            <a class="card-link" href="{{ url_for('admin.admin_view_items', squad=squad) }}"></a>
        </div>

        <div class="admin-card">
            <h2>View Locations</h2>
            <p>Like sites.</p>
            <a class="card-link" href="{{ url_for('admin.admin_view_locations', squad=squad) }}"></a>
        </div>

        <div class="admin-card">
            <h2>View Tags</h2>
            <p>Like categories of items.</p>
            <a class="card-link" href="{{ url_for('admin.admin_view_tags', squad=squad) }}"></a>
        </div>
    </div>
</div>

{% endblock %}