{% extends "base.html" %}
{% from "macros.html" import header_button, bulk_quantity_table %}

{% block title %}Receive Restock{% endblock %}
{% block header_right %}{{ header_button(url_for('admin.admin_panel', squad=squad), 'Back')}}{% endblock %}
{% block header_title %}{{ squad }}{% endblock %}
{% block sub_title %}Receive Restock: {{ location.name }}{% endblock %}

{% block content %}
<p class="bulk-page-note">Enter the quantities received from the outside vendor for this location.</p>
<form method="POST">
  {{ bulk_quantity_table(items, storages, values, 'Save Received Stock', original_values) }}
</form>
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/quantity-dirty-fields.js') }}" defer></script>
{% endblock %}
