{% extends "base.html" %}
{% from "macros.html" import header_button %}

{% block title %}Admin View{% endblock %}

{% block header_right %}{{ header_button(url_for('admin.admin_panel_views', squad=squad), 'Back')}}{% endblock %}

{% block header_title %}
  {{squad}}
{% endblock %}
{% block sub_title %}Admin View{% endblock %}

{% block content %}

{% if items|length == 0 %}
  <p>No items found.</p>
{% else %}
<table class="table-view">
  <tr>      
    <th>UPC</th>
    <th>Active?</th>
    <th>Tags</th>
    <th>Increments</th>
    <th>Name</th>
    <th>Image</th>
    <th>Min Quantity</th>
    <th>Max Quantity</th>
    <th>Order Size</th>
    <th>Expiration Days</th>
    <th>Restock Delivery Days</th>
    <th>Last Accessed{% if timezone_hint %} ({{ timezone_hint }}){% endif %}</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{ item.upc }}</td>
    <td>{{ item.active }}</td>
    <td>{{ item.tags | map(attribute='tag_name') | join(', ') }}</td>
    <td>{{ item.increments }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.image }}</td>
    <td>{{ item.min_quantity }}</td>
    <td>{{ item.max_quantity }}</td>
    <td>{{ item.batch_size }}</td>
    <td>{{ item.expiration_days }}</td>
    <td>{{ item.restock_delivery_days }}</td>
    <td>{{ item.get_last_accessed_local(user_timezone).strftime('%Y-%m-%d %H:%M:%S') if item.last_accessed else 'Never' }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}