{% extends "base.html" %}
{% from "macros.html" import header_button, header_logo %}

{% block title %}Scanning{% endblock %}

{% block header_right %}{{ header_logo(logo_img|image_src)}}{% endblock %}

{% block header_title %}{{ squad }}{% endblock %}
{% block sub_title %}Scan Amount{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

<div class="grid-container">
    <div class="where_to_from">{{ "RECOUNT" if from_location == -1 else (from_location.name if from_location else "Unknown") }} → {{ "TAKE" if to_location == -1 else (to_location.name if to_location else "Unknown") }}</div>
    
    <div class="image-cell">
        <img src="{{item.image|image_src}}" alt="{{item.name}}">
    </div>
    
    <div class="info-section">
        <div class="info-unit">{{item.increments}}</div>
        <div class="info-item">{{item.name}}</div>
    </div>

    {# TODO RED: add 3 buttons for admin #}
    
    <div class="minus-btn" data-value="-1">-</div>
    <div class="counter-value">1</div>
    <div class="plus-btn" data-value="1">+</div>
    
    <div class="cancel-btn" onclick="window.location.href='{{ url_for('admin.admin_scan_items' if admin else 'guest.index', squad=squad) }}'">Cancel</div>
    <div class="submit-btn" type="button">Submit</div>

    <!-- Hidden form with all required POST variables -->
    <form id="hidden-form" method="POST" class="hidden">
        <input type="hidden" name="item_id" id="item_id" value="{{item.id}}">
        <input type="hidden" name="counter_value" id="counter_value" value="1">
        <input type="hidden" name="from_location_id" id="from_location_id" value="{{ "-1" if from_location == -1 else from_location.id }}">
        <input type="hidden" name="to_location_id" id="to_location_id" value="{{ "-1" if to_location == -1 else to_location.id }}">
    </form>
</div>

{% endblock %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/counter.js') }}"></script>

{% endblock %}