{% extends "base.html" %}
{% from "macros.html" import header_button %}

{% block title %}Scanning{% endblock %}

{% block header_right %}{{ header_logo(url_for('static', filename='images/logos/'+logo_img))}}{% endblock %}

{% block header_title %}{{ squad }}{% endblock %}
{% block sub_title %}Scan Amount{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/scan_item.css') }}">
{% endblock %}

{% block content %}

<div class="grid-container">
    <div class="where_to_from">{{ "RECOUNT" if from_location == -1 else from_location.location_name }} → {{ to_location.location_name }}</div>
    
    <div class="image-cell">
        <img src="{{item.image}}" alt="{{item.name}}">
    </div>
    
    <div class="info-section">
        <div class="info-unit">{{item.increments}}</div>
        <div class="info-item">{{item.name}}</div>
    </div>
    
    <div class="minus-btn">-</div>
    <div class="counter-value">1</div>
    <div class="plus-btn">+</div>
    
    <div class="cancel-btn" onclick="window.location.href='{{ url_for('guest.index', squad=squad) }}'">CANCEL</div>
    <div class="submit-btn" type="button">SUBMIT</div>

    <!-- Hidden form with all required POST variables -->
    <form id="hidden-form" method="POST" style="display: none;">
        <input type="hidden" name="item_id" id="item_id" value="{{item.id}}">
        <input type="hidden" name="counter_value" id="counter_value" value="1">
        <input type="hidden" name="from_location_id" id="from_location_id" value="{{ "-1" if from_location == -1 else from_location.id }}">
        <input type="hidden" name="to_location_id" id="to_location_id" value="{{ to_location.id }}">
    </form>
</div>

{% endblock %}

{% block extra_js %}

<script>

const minusBtn = document.querySelector('.minus-btn');
const plusBtn = document.querySelector('.plus-btn');
const counterValue = document.querySelector('.counter-value');
const counterInput = document.getElementById('counter_value');
const submitBtn = document.querySelector('.submit-btn');


minusBtn.addEventListener('click', function() {
    let value = parseInt(counterValue.textContent);
    if (value > 0) {
        value = value - 1;
        counterValue.textContent = value;
        counterInput.value = value;
    }
});

plusBtn.addEventListener('click', function() {
    let value = parseInt(counterValue.textContent);
    value = value + 1;
    counterValue.textContent = value;
    counterInput.value = value;
});

submitBtn.addEventListener('click', function() {
    // Update the counter_value before submitting
    counterInput.value = counterValue.textContent;
    
    // Submit the form
    document.getElementById('hidden-form').submit();
});

</script>

{% endblock %}