# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Flask
instance/
.env

# DB
*.sqlite
*.db

# VS Code
.vscode/

# Python Environment
venv/
env/

# Squad Logos
static/images/logos/*

# AI Assistance
.claude/settings.local.json
