table { 
    width: 100%; border-collapse: collapse; margin-bottom: 20px; 
}

th, td { border: 1px solid #ccc; padding: 8px; }

.delete-btn {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
}

.required::after { content: " *"; color: red; }

.validation-error {
    border: 2px solid var(--admin-color1) !important;
    background-color: var(----decline-color) !important;
}

.changed {
    border-color: var(--primary-dark) !important;
}