<div class="modal-backdrop hidden" id="item-trend-modal">
    <div class="modal item-trend-modal">
        <div class="item-trend-header">
            <div>
                <h2 id="item-trend-title">Item Trend</h2>
                <p id="item-trend-summary"></p>
            </div>
            <button class="quiet-button" id="item-trend-close" type="button">Close</button>
        </div>
        <div class="item-trend-chart" id="item-trend-chart"></div>
        <div class="item-trend-legend">
            <span><b class="count-dot"></b>Counts</span>
            <span><b class="operation-dot"></b>Activity</span>
            <span><b class="trend-line"></b>ML trend</span>
        </div>
    </div>
</div>
