/* Flash Message Components */
.flash-container {
    --flash-color: var(--grey);
    --flash-light: var(--most-white);
    position: fixed;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: var(--most-white);
    padding: 1rem 1.5rem;
    box-shadow: 0 -1px 32px var(--shadow-color);
    transition: transform 0.7s ease-in-out;
    transform: translateY(101%); /* Start off-screen */
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem 3rem 0 0;
    outline: 5px solid var(--grey);
    outline-offset: -2px; /* Negative value pulls the outline inward */
}

/* Category-specific styling */
.flash-container.flash-error {
    --flash-color: #dc3545;
    --flash-light: #f7cdd0;
    background-color: #f7cdd0;
    outline-color: #dc3545;
    outline-width: 10px;
    box-shadow: 0 -1px 40px rgba(220, 53, 69, 0.4);
}

.flash-container.flash-success {
    --flash-color: #28a745;
    --flash-light: #d7f3df;
    outline-color: #28a745;
}

.flash-container.flash-warning {
    --flash-color: #ffc107;
    --flash-light: #fff1bf;
    outline-color: #ffc107;
}

.flash-container.flash-info {
    --flash-color: #17a2b8;
    --flash-light: #d3f3f7;
    outline-color: #17a2b8;
}

.flash-container.show {
    transition: transform 0.7s ease-in-out;
    transform: translateY(0);
}

.flash-image {
    height: 6vh;
    padding: .5rem;
}

.flash-message {
    flex-grow: 1;
}

/* Timer circle styles */
.timer-container {
    margin-left: 1rem;
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    position: relative;
    flex-shrink: 0; /* Prevents the timer from shrinking */
}

.timer-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--flash-light);
    position: relative;
    overflow: hidden;
}

.timer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        var(--flash-light) var(--progress, 0%),
        var(--flash-color) var(--progress, 0%)
    );
}
